@mixin flex($direction, $justify, $align) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  @if $direction {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: $direction;
      flex-direction: $direction;
  }

  @if $justify {
      -webkit-box-pack: $justify;
      -ms-flex-pack: $justify;
      justify-content: $justify;
  }

  @if $align {
      -webkit-box-align: $align;
      -ms-flex-align: $align;
      align-items: $align;
  }
}

@mixin inline-flex($direction, $justify, $align) {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;

    @if $direction {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: $direction;
        flex-direction: $direction;
    }

    @if $justify {
        -webkit-box-pack: $justify;
        -ms-flex-pack: $justify;
        justify-content: $justify;
    }

    @if $align {
        -webkit-box-align: $align;
        -ms-flex-align: $align;
        align-items: $align;
    }
}